html{
	scroll-behavior: smooth;
}
body {
	margin: 0px 0px;
	padding: 0px 0px;
}
.mobhead{
	padding: 10px 0px 12px 0px;
    font-size: 20px;
    position: absolute;
    margin: 0px 0px;
    width: 100%;
    background-color: black;
    display: block;
    background-image: none;
    z-index: 10;
}
.mobhead a{
	cursor: pointer;
	margin: 0px 30px;
	float: right;
	color: white;
}
.bg_img {
	background-image: url(bg_img.jpg);
	filter: blur(8px);
	-webkit-filter: blur(8px);
	height: 96vh;
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	text-decoration: none;
	color: white;
}
.name{
	position: absolute;
	top: 30%;
	left: 10%;
	font-size: 50px;
	color: black;
	vertical-align: middle;
}
.name h1{
	font-size: 80px;
}
header{
    padding: 10px 0px 12px 0px;
    font-size: 20px;
    position: fixed;
    margin: 0px 0px;
    width: 100%;
    background-color: black;
    display: block;
    background-image: none;
    z-index: 10;
}
header div {
	margin: 0px 0px;
	padding: 0px 0px;
	background-image: none;
	float: right;
}
header div a{
    margin: 0px 30px;
    padding: 0px 0px;
    background-image: none;
}
a{
    position: relative;
}
header a::after{
    content: '';
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 100%;
    transform: scaleX(0);
    transition: 0.3s;
}
header a:hover::after{
    transform: scaleX(1);
}
.icon {
	margin: 0px 20px;
    padding: 0px 0px;
}
img{
    width: 25px;
    height: 25px;

}

h1, h3, h5, h6{
	margin: 0px;
  	padding: 0px 0px 50px 0px;
  	line-height: 35px;
}
h1, h5, h3{
	text-align: center;
}

.scroll{
    background-color: white;
    margin: 10px;
    padding: 0px;
    width: 12px;
    height: 4px;
}
.scroll a{
    width: 100%;
    height: 100%;
}
.pscroll{
    position: fixed;
    top: 50%;
    margin: 0px;
    padding: 0px;
    z-index: 10;
    list-style: none;
}

.child {
	position: relative;
	top: 4vh;
    height: 96vh;
    width: 100%;
    overflow: hidden;
}
#about {
	position: relative;
	display: block;
	top: 3.5vh;
	margin: 0px 0px;
	padding: 60px 20px;
	overflow: hidden;
	background-color: #66ffff;
}
.about_me{
	width: 35%;
	float: left;
	display: inline-block;

}
.about_me h2{
	text-align: center;
	font-size: 38px;
	font-weight: 500;
}
.about_para{
	padding: 0px 50px;
	display: inline-block;
	width: 50%;
	font-size: 18px;
	font-family: sans-serif;
}
@media screen and (max-width: 900px){
	.about_me{
		width: 100%;
	}
	.about_para{
		width: 80%;
		padding: 0px 10%;
	}
}
#work {
	position: relative;
	top: 3.5vh;
	margin: 0px 0px;
	padding: 0px 0px;
	background-color: lightgray;
	overflow: hidden;
	display: block;
}
#work h2{
	text-align: center;
	vertical-align: middle;
	font-size: 36px;
	font-weight: 500;
}
.project{
	position: relative;
	padding: 30px 100px;
}
.bicycle, .hpvc, .engine{
	position: relative;
	width: 400px;
	float: left;
	padding: 0px 20px 20px 0px;
}
.bicycle img, .hpvc img, .engine img{
	width: 100%;
	height: auto;
	display: block;
}
.middle{
	margin: 0px 0px;
	padding: 0px 0px;
	opacity: 0;
	position: absolute;
  	top: 50%;
 	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	cursor: pointer;
}
.middle h2{
	margin: 0px 0px;
	padding: 0px 0px;
	text-align: center;
	vertical-align: middle;
	font-size: 36px;
	font-weight: 500;
}
.bicycle:hover img, .hpvc:hover img, .engine:hover img{
	color: white;
	cursor: pointer;
	opacity: 0.3;
}
.bicycle:hover .middle, .engine:hover .middle{
	opacity: 1;
}
.hpvc:hover .middle{
	opacity: 1;
}
#section3 {
	position: relative;
	top: 3.5vh;
	margin: 0px 0px;
	padding: 0px 0px;
	background-color: #ccf6e7;
	height: 80vh;
	min-height: 400px;
}
.contact{
	position: relative;
	top: 60px;
	text-align: center;
}
.contact h1{
	font-weight: 500;
	font-family: sans-serif;
}
input[type="text"], input[type="email"], textarea{
	width: 40%;
	min-width: 220px;
	max-width: 500px;
	background-color: #e0b3b3;
	color: black;
	font-size: 14px;
	display: block;
  	border-radius: 4px;
  	box-sizing: border-box;
  	padding: 14px 20px;
  	margin: 8px auto;
  	border-radius: 8px;
  	border: none;
}
textarea{
	height: 29vh;
	min-height: 65px;
	color: black;
	font-size: 15px;
}

input[type="text"]:hover, input[type="email"]:hover, textarea:hover, input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
	background-color: #b18f8f;
}

.submit:hover{
	background-color: #161916;
}
.submit {
	width: 40%;
	min-width: 220px;
	max-width: 500px;
	margin: 8px auto;
  	background-color: #464E47;
  	font-size: 16px; 
	color: white;
  	padding: 14px 0px;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
}
.arrow img {
	width: 50px;
	height: 50px;
}
.bouncebutton {
	position: absolute;
	bottom: 10px;
	left: 50%;
	animation: bounce 2s infinite;
}
@keyframes bounce {
	0% 20% 50% 80% 100% {
		transform: translateY(0px);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
footer{
	position: relative;
	bottom: 0;
	margin: 0px 0px;
	padding: 0px 0px;
	height: 50px;
	width: 100%;
	background-color: black;
	display: block;
	
}
footer a img{
	margin: 10px 0px;
	padding: 0px 0px;
	vertical-align: middle;
}

.uparrow{
	position: absolute;
	left: 50%;
}

.uparrow img {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}
@media screen and (min-width: 600px){
	.mobhead{
		display: none;
	}
	.closebtn{
		display: none;
	}
}
@media screen and (max-width: 600px){
	header{
		width: 0;
		height: 100%;
		background-color: rgba(0,0,0, 0.9);
	}
	header div{
		position: absolute;
  		top: 25%;
  		display: none;
  		width: 100%;
  		text-align: center;
  		margin-top: 30px;
		height: 100%;
	}
	header div a{
		margin: 10px;
		padding: 10px;
		font-size: 36px;
		display: block;
		text-align: center;
	}
	header a::after{
		display: none;
	}
	header .closebtn{
		position: absolute;
  		top: 10px;
  		right: 5px;
  		font-size: 60px;
	}
	.name{
		position: absolute;
		width: 100%;
		top: 20%;
		left: 50%;
		transform: translateX(-50%);
	}
	.name h1{
		font-size: 50px;
		padding: 0px 0px 20px 0px;
	}
	.name h3{
		font-size: 35px;
		padding: 0px 0px 20px 0px;
	}
	.name h5{
		font-size: 30px;
		padding: 0px 0px 20px 0px;
	}
	.name h6{
		width: 100%;
		text-align: center;
		font-size: 20px;
		padding: 0px 0px 20px 0px;
	}
	.bg_img{
		width: 100%;
		height: 60vh;
	}
	.child{
		height: 60vh;
	}
	.bouncebutton{
		display: none;
	}
	.project{
		padding: 30px 10px;
	}
	.bicycle{
		margin: auto;
	}
	footer .icon{
		margin: 0px 10px;
	}
}